.setCenter{
  display: flex;
  align-items: center;
  flex-direction: column;
}

#pre{
  color: rgb(255, 255, 255);
  border: 1px solid white;
  border-radius: 10px;
  background-color: rgba(250, 235, 215, 0.199);
  padding: 10px;
  display: inline-block;
  text-align: center;
}

.cardsList {
    z-index: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .card {
    margin: 30px auto;
    width: 350px;
    height: 500px;
    border-radius: 40px;
    box-shadow: 5px 5px 30px 7px rgba(15, 15, 15, 0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
    cursor: pointer;
    transition: 0.4s;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  .card .cardImage {
    margin-top: 10px;
    width: 300px;
    height: 300px;
    border-radius: 40px;
  }
  
  .card .cardImage img {
    width: inherit;
    height: inherit;
    border-radius: 40px;
    object-fit: cover;
  }
  
  .card .cardTitle {
    text-align: center;
    border-radius: 0px 0px 40px 40px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 25px;
    margin-top: -55px;
    height: 40px;
  }
  
  .card:hover {
    transform: scale(0.9, 0.9);
    box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), 
      -5px -5px 30px 15px rgba(0,0,0,0.22);
  }
  
  .titleWhite {
    color: white;
  }
  
  .titleBlack {
    color: black;
  }
  
  @media all and (max-width: 500px) {
    .card-list {
      /* On small screens, we are no longer using row direction but column */
      flex-direction: column;
    }
  }

  
  .buttonChamber{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.likeButton{
  width: 70px;
  height: 40px;
  font-size: 25px;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  cursor: pointer;
  margin: 0px 10px;
}

.likeButton:active{
  transform: scale(1.1);
}


.buyButton{
  width: 200px;
  height: 40px;
  border: 1px solid white;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.274);
  color: rgb(255, 255, 255);
  font-size: 25px;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 700;
  cursor: pointer;
  transition: background-color 0.1s linear;
  /* box-shadow: 5px 5px 10px 7px rgba(15, 15, 15, 0.25), -5px -5px 30px 7px rgba(0,0,0,0.22); */
}

.buyButton:hover{
  background-color: white;
  color: rgba(0, 0, 0, 0.829);
}